@import '../../styles/common';

.textarea {
  width: 100%;
  &.inline {
    display: flex;
    div {
      margin-left: auto;
      min-width: 20rem;
    }
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-size: .9rem;
  }
  p {
    font-size: .9rem;
    margin-top: 3px;
    color: $grey-1;
  }
  textarea {
    font-size: 1rem;
    width: 100%;
    min-height: 3rem;
    padding: 10px;
    border: 2px solid $white-4;
    outline: none;
    &:focus{
      border-color: darken($primary-2, 10%)
    }
    &::placeholder {
      color: grey;
    }
  }
}