$white-1: #e5e9f1;
$white-2: #ebebeb;
$white-3: #d9dde6;
$white-4: #c4cdd5;

$black: rgb(33, 43, 54);

$grey-1: rgb(110, 110, 110);
$grey-2: rgb(75, 75, 75);

$primary-1: #21be7d;
$primary-2: #1cad75;
$green-1: #e8ffef;

$secondary-1: #16a9ce;
$secondary-2: #1596b6;
$blue-1: rgb(221, 240, 252);

$red-1: rgb(255, 226, 229);
$red-2: rgb(221, 85, 103);
$red-3: rgb(211, 37, 66);

$yellow-1: rgb(253, 253, 211);
$yellow-2: rgb(214, 214, 57);
$yellow-3: rgb(185, 201, 46);