* {
  box-sizing: border-box;
  word-break: break-word;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}